body{
    background: url(design.jpg);background: cover
}
nav ul{        
        list-style:none; // menghilangkan tanda pada pinggir list
	width:900px; 
	height:50px;
}
nav ul a{
	text-decoration:none; //menghilangkan efek teks atau link, di sini kita gunakan untuk menghilangkan garis bawah link
}
nav ul li ul{
	display:none; //menyembunyikan menu saat pointerr tidak sedang di atas nya
	padding-left:0px; // menggatur padding
	width:150px;	
}
nav ul li:hover ul{
	display:block;  //menampilkan menu saat pointerr di atasnya
}
nav ul li:hover{
	background:#0000ff;
}
nav ul li{
	float:left;
	width:150px;
	height:35px;
	background:#fff;
	text-align:center;
	padding-top:15px;
}
nav a{
	color:#000000;
	font-family:Times New Roman;
	font-size:11pt;
}